{% extends 'base.html' %}
{% block content %}
<h1>Friends</h1>

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
<tr>
<th style="width: 20%">Name</th>
<th style="width: 20%">Email</th>
<th style="width: 20%">Phone</th>
<th style="width: 10%">Actions</th>
</tr>
</thead>
<tbody>
{% for contact in object_list %}
<tr>
<td>{{ contact.name }}</td>
<td>{{ contact.email }}</td>
<td>{{ contact.phone }}</td>
<td>
    <div class="btn-group btn-group-sm" role="group">
        <button><a href="{% url "friend-detail" contact.id  %}">details</a></button>
        <button><a href="{% url "friend-update" contact.id  %}">edit</a></button>
        <button><a href="{% url "friend-delete"  contact.id  %}">delete</a></button>
    </div>
</td>
</tr>

{% endfor %}
</tbody>
</table>
<div style="text-align: center;"><a href="{% url 'friend-create' %}" class="btn btn-primary">Add a friend</a></div>

{% endblock %}