{% extends 'base.html' %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th style="width: 20%">Book Title</th>
            <th style="width: 20%">Author</th>
            <th style="width: 40%">Description</th>
            <th style="width: 13%">Actions</th>
        </tr>
    </thead>
    <tbody>
{% for library in object_list %}
    {% if library.borrower == Null %}
    <tr>
        <td>{{ library.book.btitle }}</td>
        <td>{{ library.book.bauthor }}</td>
        <td>{{ library.book.bdescription }}</td>
        <td><div class="btn-group btn-group-sm" role="group">
            <a class="btn btn-outline-dark btn-sm butt1" href="/catalog/lend/{{ library.id }}">Lend to a friend</a>
            <a class="btn btn-outline-dark btn-sm butt1" href="/catalog/removefromlibrary/{{ library.book.id }}">Remove from library</a>
        </div>
        </td>
    </tr>
    {% endif %}
{% endfor %}
    </tbody>
</table>
<br>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>

            <th style="width: 20%">Book Title</th>
            <th style="width: 20%">Author</th>
            <th style="width: 40%">Description</th>
            <th style="width: 20%">Borrower</th>
            <th style="width: 13%">Actions</th>
        </tr>
    </thead>
    <tbody>
{% for library in object_list %}
    {% if library.borrower != Null %}
    <tr>
        <td>{{ library.book.btitle }}</td>
        <td>{{ library.book.bauthor }}</td>
        <td>{{ library.book.bdescription }}</td>
        <td>{{ library.borrower }}</td>
        <td><div class="btn-group btn-group-sm" role="group">
            <button><a href="/catalog/regain/{{ library.id }}">Mark as returned</a></button>
            <button><a href="/catalog/removefromlibrary/{{ library.book.id }}">Remove from library</a></button>
        </div>
        </td>
    </tr>
    {% endif %}
{% endfor %}
    </tbody>
</table>
<br>
<div style="text-align: center;"><a href="/catalog/books" class="btn btn-primary">Browse books available</a></div>
{% endblock %}