body {font:12px/1.4 Verdana,Arial; background:#eee; height:100%; margin:25px 25px 25px 25px; padding:0}
h1 {font:24px; font-family: 'Akronim'; margin:0}
h2 {font-family: 'Anton';font-size:12px; font-weight:normal; font-style:italic; margin:0 0 20px}
p {font-family: 'Source Serif Pro';margin-top:0}
ul {font-family: 'Abril Fatface';margin:0; padding-left:20px}

/*font-family: 'Akronim', ;*/
/*font-family: 'Anton', ;*/
/*font-family: 'Source Serif Pro', ;*/
/*font-family: 'Abril Fatface', ;*/

#testdiv {width:600px; margin:0 auto; border:1px solid #ccc; padding:20px 25px; background:#fff}

#tinybox {position:absolute; display:none; padding:10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(images/preload.gif);
    background-color: #fff;
    border:10px solid #e3e3e3; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}

.jumbotron{
    background-color: #2E2D88;
    color: white;
}


.button {
    font:14px Georgia,Verdana;
    margin-bottom:10px;
    padding:8px 10px 9px;
    border:1px solid #ccc;
    background:#eee;
    cursor:pointer
}
.button:hover {
    border:1px solid #bbb;
    background:#e3e3e3
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}