<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Wypożyczalnia</title>{% endblock %}
     {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'css/images/favicon.ico' %}"/>
</head>
<body>
<container>
        <div class="header">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col">
                <p> Witaj {{ user }}</p>
                </div>
                <div class="col-2 ml-auto">
                <a href={% url 'logout' %}> Log out!</a>
                </div>
            {% else %}
                <div class="col-2 ml-auto">
                <a href={% url 'login' %}>  Log in!</a>
                </div>
            {% endif %}
        </div>
        <h1>Wypożyczalnia - nagłówek</h1>
    <br/>
    </div>
    <div class="row">
        <div class="col-3">
                {% block sidebar %}
                <ul class="sidebar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'booklist' %}">All books</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'show' %}">My books</a></li>
                    <li><a href="{% url 'friend-list' %}">Friends list</a> </li>
                {%  endif %}
                </ul>
                {% endblock %}
        </div>
        <div class="col-8">
            {% block accounts %}
            {% endblock %}
            {% if user.is_authenticated %}
                {% block content %}
                {% endblock %}
            {% else %}
                Please <a href={% url 'login' %}>  Log in!</a> or <a href={% url 'add-user' %}>  Register!</a> for all the functionalities.
            {% endif %}
        </div>
    </div>
</container>
</body>
</html>