{% extends "base.html" %}

{% block home %}
    <br>
    <p>Welcome in  the Book Lender, web app that makes it easy to track who is holding your books at the moment!</p>
    <br>
    <p>Currently you can find here:</p>
    <ul>
        <li><strong>Titles:</strong> {{ num_books }}</li>
        <li><strong>Users:</strong> {{ num_users }}</li>
        <li><strong>Owned books:</strong> {{ num_libraries }}</li>
        <li><strong>Friends who borrow them:</strong> {{ num_friends }}</li>
    </ul>
    <br>
    <p>Your IP is {{ ip }} which means that you are probably connecting from {{ country }}</p>

{% endblock %}